body {
    background-color: #eee;
    color: #222831;
}

.jumbotron {
    background-color: #bf4e6e;
    color: #ffffff;
    background-image: url('../images/background.png');
    background-blend-mode: overlay;
}

.navbar {
    background-color: #b83b5e;
}

.nav-tabs {
    background-color: transparent;
}

.nav-tabs a {
    text-decoration: none;
    color: #ffffff;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent transparent #393e46;
    border-bottom: 5px solid;
}

.nav-tabs .nav-link.active:hover {
    color: #ffffff;
    background-color: rgba(191, 78, 110, 0.2);
    border-color: transparent transparent #393e46;
    border-bottom: 5px solid;
}

.nav-tabs .nav-link:hover {
    background-color: rgba(191, 78, 110, 0.2);
    border-color: transparent;
}

.spinner-border {
    position: relative;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    margin: -8em;
    width: 8rem; 
    height: 8rem;
}

form.container {
    background-color: #3bb895;
    border-radius: 25px;
}

form > #title {
    color: #ffffff;;
}

#imageCarousel > div {
    border-radius: 25px;
}