body {
	background-color: #eee;
	color: #222831;
	position: relative;
	min-height: 100vh;
	padding-bottom: 8rem;
}

footer {
	background-color: #f38181;
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
}

form > #title {
	color: #ffffff;;
}

form.container {
	background-color: #f08a5d;
	border-radius: 25px;
}

.footer-content {
	background-color: #ffffff;
	border-radius: 25px;
}

.jumbotron {
	background-color: #bf4e6e;
	color: #ffffff;
	background-image: url('../images/background.png');
	background-blend-mode: overlay;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active {
	color: #ffffff;
	background-color: transparent;
	transition: 0.3s;
}

.nav-tabs .nav-link.active {
	border-color: transparent transparent #393e46;
	border-bottom: 5px solid;
}

.nav-tabs .nav-link.active:hover {
	border-color: transparent transparent #393e46;
	border-bottom: 5px solid;
}

.nav-tabs .nav-link:hover {
	background-color: #bf4e6e;
	border-radius: 50px 50px 0px 0px;
	border-color: transparent;
}

.nav-tabs a {
	text-decoration: none;
	color: #ffffff;
}

.nav-tabs {
	background-color: transparent;
}

.navbar {
	background-color: #b83b5e;
}

.social-icon {
	width: 2rem;
	height: 2rem;
	margin-right: 0.5rem;
}

.spinner-border {
	position: relative;
	width: 10rem;
	height: 10rem;
	margin: 0rem;
	top: calc(50% - (10rem / 2));
	left: calc(50% - (10rem / 2));
}

.dropdown-menu {
	width: 100%;
	border-radius: 0px 0px 25px 25px;
}

.dropdown-menu > .dropdown-item:last-child {
	border-radius: 0px 0px 12.5px 12.5px;
}

.dropdown-menu > .dropdown-item {
	color: #16181b;
}

.dropdown-menu > .dropdown-item:hover {
	color: #16181b;
    background-color: #eeeeee;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #BF4E6E;
}

#carousel-control {
	background-color: #903749;
	border-radius: 50px;
	height: 3.5rem;
	width: 3.5rem;
	top: calc(50% - (3.5rem / 2));
	opacity: 1;
	transition: 0.3s;
}

#imageCarousel > div {
	border-radius: 25px;
	background-color: #D3D3D3;
}

h5#post-title, .list-group-item > div > h5 {
	color: #e84545;
}

@media screen and (max-width: 600px) {
	table thead {
		display: none;
	}
	
	table td {
		display: flex;
	}
}